{% extends "base.html" %}
{% block content %}
    <div class="container-m text-left p-4">
        <h1 class="display-2">About</h1>
        <p class="lead fs-4">This free COVID quiz predicts if you are at risk for COVID-19 based using a convolutional neural network (CNN). A CNN is a machine learning model
            that takes input data and learns to make predictions based on the data. 
            This CNN was accomplished using Tensorflow's CNN library trained with a dataset of over 5000 people. 
        </p>
    </div>
{% endblock %}